<div class="row mc-row-eq-height mc-advert-plan-wrapper">
    <div class="col-sm-4 mc-advert-plan-column1">
        <div class="mc-advert-plan-title-bronze">Bronze</div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <ul class="fa-ul mc-light-font">
                    <li><i class="fa-li fa fa-check"></i>3 photos</li>
                    <li><i class="fa-li fa fa-check"></i>Business details</li>
                    <li><i class="fa-li fa fa-check"></i>1 month</li>
                    <li class="mc-hidden"><i class="fa-li fa fa-check"></i>Higher Ad spot</li>
                </ul>
            </div>
        </div>
        <div class="row mc-advert-plan-price-wrapper">
            <div>$<span class="mc-baseline-adjustment">33</span><br><span class="mc-light-font">per month</span></div>
        </div>
        <div class="row mc-advert-plan-button-wrapper">
            <button type="button" class="btn btn-default" ng-click="advertPlanSelected(1)" id="mc-advert-plan-button1">Register</button>
        </div>
    </div>
    <div class="col-sm-4 mc-advert-plan-column2">
        <div class="mc-advert-plan-title-silver">Silver</div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <ul class="fa-ul mc-light-font">
                    <li><i class="fa-li fa fa-check"></i>8 photos</li>
                    <li><i class="fa-li fa fa-check"></i>Business details</li>
                    <li><i class="fa-li fa fa-check"></i>1 month</li>
                    <li><i class="fa-li fa fa-check"></i>Higher Ad spot</li>
                </ul>
            </div>
        </div>
        <div class="row mc-advert-plan-price-wrapper">
            <div>$88<br><span class="mc-light-font">per month</span></div>
        </div>
        <div class="row mc-advert-plan-button-wrapper">
            <button type="button" class="btn btn-default" ng-click="advertPlanSelected(2)" id="mc-advert-plan-button2">Register</button>
        </div>
    </div>
    <div class="col-sm-4 mc-advert-plan-column3">
        <div class="mc-advert-plan-title-gold">Gold</div>
        <div class="row">
            <div class="col-md-10 col-md-offset-1 col-sm-12">
                <ul class="fa-ul mc-light-font">
                    <li><i class="fa-li fa fa-check"></i>10 photos</li>
                    <li><i class="fa-li fa fa-check"></i>Business details</li>
                    <li><i class="fa-li fa fa-check"></i>Special Contract with a discount</li>
                    <li><i class="fa-li fa fa-check"></i>Highest Ad position</li>
                </ul>
            </div>
        </div>
        <div class="row mc-advert-plan-button-wrapper">
            <button type="button" class="btn btn-default" ng-click="advertPlanSelected(3)" id="mc-advert-plan-button3">Contact Us</button>
        </div>
    </div>
</div>
