<div class="container-fluid" id="mc-main-footer">
    <div class="row">
        <div class="col-xs-12">
            <div class="mc-social-media-logos-wrapper">
                <a href="https://www.facebook.com/pages/M8chat/1494826880785485" target="_blank"><img src="@routes.Assets.at("facebook-logo.png")"></a>
            </div>
            <div>Copyright 2015 m8chat. All rights reserved | <a href="@routes.Assets.versioned("pdfs/m8chat-privacy-policy.pdf")" target="_blank">Privacy Policy</a> | <a href="@routes.Assets.versioned("pdfs/m8chat-terms-of-service.pdf")" target="_blank">Terms of Service</a></div>
        </div>
    </div>
</div>