<div class="mc-anchor" id="mc-how-it-works-anchor"></div>
<div class="container-fluid mc-how-it-works-bg">
  <div class="container mc-how-it-works-wrapper">
    <div class="row">
      <div class="col-xs-12 mc-block-title-wrapper">
        <h3>How it Works</h3>
      </div>
    </div>
    <div class="row">
      <div class="col-md-2 mc-light-font mc-how-it-works-step-1">
        Users find other people close to them to chat to
      </div>
      <div class="col-md-2 mc-light-font mc-how-it-works-step-2">
        Your local business will be displayed within a radius
      </div>
      <div class="col-md-2 mc-light-font mc-how-it-works-step-3">
        Your business photos and details will be featured
      </div>
      <div class="col-md-2 mc-light-font mc-how-it-works-step-4">
        Watch as customers start flocking to your business
      </div>
      <div class="col-md-2 mc-light-font mc-how-it-works-step-5">
        Build a return business clientele
      </div>
    </div>
  </div>
</div>