<div class="mc-anchor" id="mc-intro-video-anchor"></div>
<div class="container-fluid mc-intro-video-bg">
  <div class="container mc-intro-video-wrapper">
    <div class="row mc-vertical-center-items">
      <div class="col-sm-5 visible-xs mc-xs-intro-video-slogan">
        Give your business big or small the exposure it deserves
      </div>
      <div class="col-sm-5 hidden-xs mc-sm-intro-video-slogan">
        Give your business<br>big or small the<br>exposure it deserves
      </div>
      <div class="col-sm-7" ng-controller="IntroVideoController" id="mc-intro-video-frame-wrapper">
        <iframe id="mc-intro-video-frame" src="//fast.wistia.net/embed/iframe/mb4r32ola3" allowtransparency="true" frameborder="0" scrolling="no" class="wistia_embed" name="wistia_embed" allowfullscreen mozallowfullscreen webkitallowfullscreen oallowfullscreen msallowfullscreen></iframe>
      </div>
    </div>
  </div>
</div>