<div class="mc-anchor" id="mc-jumbotron-anchor"></div>
<div class="jumbotron mc-vertical-center-items">
    <div class="container">
        <div class="row mc-vertical-center-items mc-jumbotron-row">
            <div class="col-md-5 col-md-offset-1 col-sm-4 mc-carousel mc-light-font">
                @* <carousel interval="5000">
                    <slide>m8chat is a <strong>free</strong> smartphone app to <br><strong>connect</strong> to the people in your <strong>local community</strong>.<br><br><br><br></slide>
                    <slide>This is the second page of the m8chat introduction. m8chat is a free smartphone app.<br><br><br><br></slide>
                    <slide>This is the third page of the m8chat introduction. m8chat is a free smartphone app.<br><br><br><br></slide>
                </carousel> *@
                m8chat is a <strong>free</strong> smartphone app to <br><strong>connect</strong> to the people in your <strong>local community</strong><br><br>
            </div>
            <div class="col-md-3 col-sm-4 mc-mobile-phone-wrapper">
                <img src="/assets/images/mobile-phone.png">
            </div>
            <div class="col-md-4 col-sm-4 mc-download-btn-wrapper">
                <div dropdown class="btn-group">
                    <button type="button" class="btn btn-primary dropdown-toggle mc-download-btn">
                        Download m8chat <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu" role="menu">
                        <li><a href="https://itunes.apple.com/au/app/m8chat/id967756784?ls=1&mt=8">Apple iOS</a></li>
                        <li><a href="https://play.google.com/store/apps/details?id=com.brandon.m8chat">Android</a></li>
                    </ul>
                </div>
                <div class="mc-download-term">You must be 18+ to download the m8chat app</div>
            </div>
        </div>
    </div>
</div>